.main_form{
    margin: 32px;
}
.form_input{
    margin: 8px;
    display: block;
}
textarea{
    margin-left: 8px;
  
}
select{
  margin-left: 8px;
}
button{
  margin-left: 8px;
}
.languages{
   margin-left: 8px;
}
