@import 'breakpoints';
* {
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
}
.square {
  height: 100px;
  width: 100px;
  margin: 8px;
  background-color: #ff7f50;
  @include for-medium-screen {
    background-color: #8a2be2;
  }
  @include for-large-screen {
    background-color: #a61;
  }
  @include for-extra-large-screen {
    background-color: #a47;
  }
}

@include for-portrait {
  .container {
    flex-direction: column;
  }
}

@include for-landscape {
  .container {
    flex-direction: row;
  }
}
