.box{
    background-color: bisque;
    border-top: solid 10px firebrick;
    border-right: solid 20px chartreuse;
    border-bottom: dashed 10px burlywood;
    border-left: dashed 20px aqua;
    width: 420px;
    height: 140px;
    margin: 50px 100px;
    padding: 20px;
    font-size: 24px;
}