body{
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: center;
}
.articles-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.article{
  min-width: 300px;
  flex-grow: 1;
  margin: 8px;
  padding: 16px;
  background-color: bisque;
}
