.header {
  position: relative;
  background-color: darkturquoise;
  height: 40px;
}
.navigation {
  height: 40px;
}
.nav-item {
  display: inline-block;
  margin-left: 16px;
  color: white;
  line-height: 40px;
}
.content {
  background-color: beige;
  height: 5000px;
}
.head {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  position: relative;
  top: 50%;
  left: 50%;
}
.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
}
.ear_right{
  position: absolute;
  bottom: 200px;right: -40px;
}
.ear_left{
  position: absolute;
  bottom: 200px;left: -40px;
}
.eye{
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: grey;

}
.eye_left{
  position: absolute;
  top: 80px;
  left: 40px;
}
.eye_right{
  position: absolute;
  top: 80px;
  right: 40px;

}