* {
  box-sizing: border-box;
}

.navigation {
  background-color: #ff7f50;
  display: flex;
  min-height: 200px;
  flex-grow: 2;
}
.products {
  background-color: #006400;
  display: flex;
  min-height: 200px;
  flex-grow: 2;
}
.news {
  background-color: #0ff;
  display: flex;
  min-height: 200px;
}
span {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  margin: auto;
  background-color: #faebd7;
  border-radius: 4px;
}

@media screen and (min-width: 600px) {
  .product_block {
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  .container {
    display: flex;
  }
  .product_block {
    flex: 2;
  }
  .news {
    flex: 1;
  }
}
