.box {
  border: solid 2px black;
  padding: 50px;
}

.box4 {
  background-color: blue;
  margin: 50px;
}
.box3 {
  background-color: yellow;
}
.box2 {
  background-color: green;
}
.box1 {
  background-color: pink;
}
